<!doctype html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>植物生長狀態查詢</title>
  <!-- <link rel="stylesheet" href="index.css"> -->